/*.bin
/*.cache
/*.hfst
/*.in
/*.log
/*.mode
/*.status
/.deps
/*.lrx
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/config
/configure
/install-sh
/missing
/modes
/otpt_dir
/stamp-h1
t/*.html
t/.git
