* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/HACKING -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sme-smj.sme-smj.dix -text
/apertium-sme-smj.sme-smj.lex -text
/apertium-sme-smj.sme-smj.t1x -text
/apertium-sme-smj.sme-smj.t2x -text
/apertium-sme-smj.sme-smj.t3x -text
/apertium-sme-smj.sme-smj.t4x -text
/apertium-sme-smj.sme-smj.t5x -text
/apertium-sme-smj.smj-sme.lrx -text
/apertium-sme-smj.smj-sme.t1x -text
/apertium-sme-smj.smj-sme.t2x -text
/apertium-sme-smj.smj-sme.t3x -text
/autogen.sh -text
/configure.ac -text
dev/TriSaami.txt -text
dev/TriSaami_mod.txt -text
dev/TriSaami_sme.txt -text
dev/TriSaami_sme_analyzed.txt -text
dev/TriSaami_sme_pos.txt -text
dev/TriSaami_smj.txt -text
dev/TriSaami_smj_analyzed.txt -text
dev/TriSaami_smj_pos.txt -text
dev/Tromso_workshop_2009/Tromso_workshop_handout.tex -text
dev/Tromso_workshop_2009/Tromso_workshop_plan.tex -text
dev/Tromso_workshop_2009/Tromso_workshop_plan.txt -text
dev/Tromso_workshop_2009/Tromso_workshop_program.pdf -text
dev/Tromso_workshop_2009/Tromso_workshop_program.tex -text
dev/Tromso_workshop_2009/Tromso_workshop_program.txt -text
dev/Tromso_workshop_2009/Tromso_workshop_slides.tex -text
dev/Tromso_workshop_2009/Tromso_workshop_slides2.tex -text
dev/Tromso_workshop_2009/apertium-level2.simplified.pdf -text
dev/Tromso_workshop_2009/apertium.png -text
dev/Tromso_workshop_2009/bad_human_translation_1.jpg -text
dev/Tromso_workshop_2009/bad_human_translation_2.jpg -text
dev/Tromso_workshop_2009/bidix.png -text
dev/Tromso_workshop_2009/google.png -text
dev/Tromso_workshop_2009/gramtrans.png -text
dev/Tromso_workshop_2009/linguistic-notes.txt -text
dev/analyse-all-stages.sh -text
dev/apertium_bleu1.txt -text
dev/basura.py -text
dev/bidix/Duomma_missinglist_smj.txt -text
dev/bidix/TriSaami.txt -text
dev/bidix/TriSaami_mod.txt -text
dev/bidix/TriSaami_sme.txt -text
dev/bidix/TriSaami_sme_analyzed.txt -text
dev/bidix/TriSaami_sme_pos.txt -text
dev/bidix/TriSaami_smesmj.txt -text
dev/bidix/TriSaami_smj.txt -text
dev/bidix/TriSaami_smj_analyzed.txt -text
dev/bidix/TriSaami_smj_pos.txt -text
dev/bidix/TriSaamicorr.txt -text
dev/bidix/TriSaamicorr_utf8.txt -text
dev/bidix/bidixsmjverbs.txt -text
dev/bidix/bidixsmjverbs_analyzed.txt -text
dev/bidix/bidixsmjverbsone.txt -text
dev/bidix/iellet_viessot.txt -text
dev/bidix/sjavo_jasska.txt -text
dev/bidix/smesmj_bestbothdirPos -text
dev/fictilemmapos.txt -text
dev/giza_list.txt -text
dev/mod_per_cadena.py -text
dev/smjadverbs.txt -text
dev/smjintersectionlemma2.txt -text
dev/smjpronouns.txt -text
dev/testkorpus.txt -text
dev/testkorpus_diff.txt -text
dev/testsentences.txt -text
dev/xfst2apertium.relabel -text
/gt2apertium.cg3r -text
/modes.xml -text
/rm-deriv-cmp.twol -text
t/README.org -text
t/config.sh -text
t/latest-pending.results -text
t/latest-regression.results -text
t/pending-tests -text
t/regression-tests -text
t/update-latest -text
t/wiki-tests -text
