* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sme-smj.sme-smj.dix -text
/apertium-sme-smj.sme-smj.rlx -text
/apertium-sme-smj.sme-smj.t1x -text
/apertium-sme-smj.sme-smj.t2x -text
/apertium-sme-smj.sme-smj.t3x -text
/apertium-sme-smj.sme.dix -text
/apertium-sme-smj.smj.dix -text
/autogen.sh -text
/configure.ac -text
dev/fictilemmapos.txt -text
dev/smepronounsfullform.txt -text
dev/smjintersectionlemma2.txt -text
/fictilemmapos.txt -text
/modes.xml -text
/sme-smj.prob -text
