* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-sme-smj.post-smj.dix -text
/apertium-sme-smj.sme-smj.dix -text
/apertium-sme-smj.sme-smj.rlx -text
/apertium-sme-smj.sme-smj.t1x -text
/apertium-sme-smj.sme-smj.t2x -text
/apertium-sme-smj.sme-smj.t3x -text
/apertium-sme-smj.sme.dix -text
/apertium-sme-smj.smj.dix -text
/autogen.sh -text
/configure.ac -text
dev/SMJ_TO_GENERATE -text
dev/Tromso_workshop_2009/Tromso_workshop_plan.tex -text
dev/Tromso_workshop_2009/Tromso_workshop_plan.txt -text
dev/Tromso_workshop_2009/Tromso_workshop_program.pdf -text
dev/Tromso_workshop_2009/Tromso_workshop_program.tex -text
dev/Tromso_workshop_2009/Tromso_workshop_program.txt -text
dev/Tromso_workshop_2009/Tromso_workshop_slides.tex -text
dev/Tromso_workshop_2009/bad_human_translation_1.jpg -text
dev/Tromso_workshop_2009/bad_human_translation_2.jpg -text
dev/apertium_bleu1.txt -text
dev/basura.py -text
dev/darbahit.paradigm -text
dev/fictilemmapos.txt -text
dev/giza_list.txt -text
dev/gohcodit.paradigm -text
dev/missingsme.txt -text
dev/missingsme2.txt -text
dev/missingsme3.txt -text
dev/missingsmj.txt -text
dev/missingsmj2.txt -text
dev/missingverblist.txt -text
dev/mod_per_cadena.py -text
dev/smeparadigms -text
dev/smeparadigms2.txt -text
dev/smepronounsfullform.txt -text
dev/smepronwithtags.speling.txt -text
dev/smepronwithtags.txt -text
dev/smjadjfullform.txt -text
dev/smjadjlemma.txt -text
dev/smjadverbs.txt -text
dev/smjintersectionlemma2.txt -text
dev/smjintersectionlemmatags.txt -text
dev/smjnounfullform.txt -text
dev/smjnounlemma.txt -text
dev/smjparadigms -text
dev/smjparadigms10.txt -text
dev/smjparadigms11.txt -text
dev/smjparadigms2.txt -text
dev/smjparadigms4.txt -text
dev/smjparadigms5.txt -text
dev/smjparadigms6.txt -text
dev/smjparadigms8.txt -text
dev/smjparadigms9.txt -text
dev/smjpronouns.txt -text
dev/smjverbfullform.txt -text
dev/smjverblemma.txt -text
dev/testkorpus.txt -text
dev/testkorpus_diff.txt -text
dev/testsentences.txt -text
dev/veahkki.paradigm -text
dev/viehkke.paradigm -text
/fictilemmapos.txt -text
/modes.xml -text
/regression-tests.sh -text
/sme-smj.prob -text
